/npm-debug.log
/.idea/
/backup

/lightbeam/node_modules
/lightbeam/*debuglog.txt
/lightbeam/data/libs/
/lightbeam/*.xpi

/adblocker-utils/node_modules
/adblocker-utils/dist
/adblocker-utils/build

/paper/*.bbl
/paper/*.pdf
/paper/*.blg
/paper/*.log
/paper/*.aux
/paper/*.dvi
/paper/figures/data/*
/paper/figures/*.m~
/paper/*.backup

/thesis/*.bbl
/thesis/thesis.pdf
/thesis/*.blg
/thesis/*.log
/thesis/*.aux
/thesis/*.dvi
/thesis/*.backup

/adblockers-backend/.idea
/adblockers-backend/logs
/adblockers-backend/.mvn
/adblockers-backend/target
/adblockers-backend/*.iml
/adblockers-backend/mvnw*

/adblockers-frontend/.idea
/adblockers-frontend/dist
/adblockers-frontend/node_modules
/adblockers-frontend/typings

**/.DS_Store
