<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Statistics</a>

      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-repeat="(menuItem, menuKey) in menuItems"
              ng-class="selected === menuKey ? 'active' : ''">
            <a href="#"
               style="padding: 15px 5px; border-left: solid gray 1px;"
               ng-click="select(menuKey)"><small>{{menuItem}}</small></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <div ng-show="selected === menuItems.TABLE">
      <div ng-controller="TableController">
        <div my-table=""></div>
      </div>
    </div>
    <div ng-controller="LineChartController">
      <div ng-show="selected === menuItems.FIRST_MEANS"
           line-chart=""
           metric={{menuItems.FIRST_MEANS}}></div>
      <div ng-show="selected === menuItems.THIRD_MEANS"
           line-chart=""
           metric={{menuItems.THIRD_MEANS}}></div>
      <div ng-show="selected === menuItems.FIRST_STDEV"
           line-chart=""
           metric={{menuItems.FIRST_STDEV}}></div>
      <div ng-show="selected === menuItems.THIRD_STDEV"
           line-chart=""
           metric={{menuItems.THIRD_STDEV}}></div>
      <div ng-show="selected === menuItems.DIAMETER"
           line-chart=""
           metric={{menuItems.DIAMETER}}></div>
      <div ng-show="selected === menuItems.DENSITY"
           line-chart=""
           metric={{menuItems.DENSITY}}></div>
      <div ng-show="selected === menuItems.BETWEENNESS_CENTRALITY"
           line-chart=""
           metric={{menuItems.BETWEENNESS_CENTRALITY}}></div>
    </div>
    <div ng-show="selected === menuItems.MAP">
      <div ng-controller="MapController">
        <div map-chart=""></div>
      </div>
    </div>

    <div ng-show="selected === menuItems.CALCULATED_DATES">
      <div ng-controller="CalculationTableController">
        <div calculation-table=""></div>
      </div>
    </div>
  </div>
</div>
