<table class="table table-hover">
  <thead>
  <th>Date</th>

  <th></th>
  </thead>
  <tbody>
  <tr ng-repeat="calculatedDate in calculatedDates">
    <td>
      <div>{{calculatedDate.date}}</div>
      <div class="btn btn-default" ng-click="calculateAll(calculatedDate.date)">Calculate all</div>
      <div class="btn btn-default" ng-click="clearAll(calculatedDate.date)">Delete all</div>
      <div class="btn btn-default" ng-click="getAllScatterplots(calculatedDate.date)">Calculate scatterplots</div>
      <a class="btn btn-default" id="download-{{calculatedDate.date | formatDate | replaceSlashes}}">Get scatterplots</a>
    </td>

    <td>
      <!--<div class="btn-group">-->


      <div style="width: 45%; display: block; float: left;"
           class="btn-group"
           ng-repeat="(instanceName, instanceKey) in instances">
        <div style="width: 170px;" class="btn {{calculatedDate.isCalculated[instanceKey] ? 'btn-success' : 'btn-danger'}}">
          <span style="font-size: 10px;">{{instanceName}}</span>
        </div>
        <button ng-click="calculate(calculatedDate.date, instanceKey)" class="btn btn-primary">
          Calculate
        </button>
        <button ng-click="view(calculatedDate.date, instanceKey)" class="btn btn-info">
          View
        </button>
        <button ng-click="clear(calculatedDate.date, instanceKey)" class="btn btn-warning">
          Clear
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
